/*/////////////////////////////////////////////////////////////////*/
/*//////////////////////// CSS RESPONSIVE /////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////*/
/*//////////////// DEBUT DU CSS DE TIO ////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 1px) and (max-width: 1880px){
    .responsivBlocs
    {
        float: none!important;
        display: block!important;
        min-width: 415px;
        min-height: 180px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1650px){
    .noms_profil{
        margin-left: 8%!important;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1280px){
    .noms_profil{
        margin-left: 10%!important;
    }
    .profile_div{
        margin-left: -6%!important;
    }
    .background_profil_content{
        padding: 40px 85px 40px 85px!important;
    }
}

/*/////////////////////////////////////////////////////////////////*/
/*//////////////// FIN DU CSS DE TIO //////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/