/*/////////////////////////////////////////////////////////////////*/
/*//////////////////////// CSS RESPONSIVE /////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 1100px) and (max-width: 1280px){
    #home_title {
        top: 100px !important;
    }

    .media-heading {
        font-size: 18px !important;
    }

    .media-body {
        width: 600px !important;
    }   
}

@media screen and (min-width: 1024px) and (max-width: 1100px){ 
    .titleStyle {
        font-size: 55px !important;
    }

    #home_title {
        margin-left: -380px !important;
        top: 80px !important;
    }
}

@media screen and (max-width: 992px){ 
    .autocomp{
        width: inherit !important;
    }

    #adv_location{
        display: block !important;
        width: 100% !important;
        padding-left: 13px !important;
    }

    .form-control{
        width: 100% !important;
    }
}

@media screen and (min-width: 870px) and (max-width: 1024px){
    .first_name_head{
        display: none;
    }

    .container {
        padding: 0px !important;
    }

    table tbody tr td {
        display: block;
    }   

    .head_picture {
        right: 235px !important;
    }

    .titleStyle {
        font-size: 55px !important;
    }

    #home_title {
        margin-left: -380px !important;
        top: 80px !important;
    }
}

@media screen and (max-width: 870px){
    .vc_column_inner {
        text-align: center;
    }

    .titleStyle{
        font-size: 40px !important;
    }

    #home_title {
        margin-left: -270px !important;
        top: 120px !important;
    }

    .logo{
        top: 60px;
    }

    .head_picture{
        left: 50%;
        margin-left: -20px;
    }

    .master_header{
        height: 130px !important;
    }

    .header_wrapper {
        height: 130px;
    }
}

@media screen and (max-width: 500px){
    .buttons{
        position: initial !important;
        display: block !important;
        width: 100%;
        text-align: center;
    }

    .logo{
        top: -65px !important;
    }

    .head_picture{
        position: initial !important;
        display: block !important;
        clear: both;
        margin: auto !important;
        text-align: center;
        margin-top: 100px !important;
    }

    .master_header{
        height: 140px !important;
        position: initial !important;
        display: block !important;
    }

    .header_wrapper {
        height: 140px !important;
        position: initial !important;
        display: block !important;
    }

    .header_wrapper_inside{
        height: 140px !important;
        display: block !important;
    }
}


/*/////////////////////////////////////////////////////////////////*/
/*//////////////// DEBUT DU CSS DE TIO ////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 1px) and (max-width: 1880px){
    .responsivBlocs
    {
        float: none!important;
        display: block!important;
        min-width: 415px;
        min-height: 180px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1650px){
    .noms_profil{
        margin-left: 8%!important;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1280px){
    .noms_profil{
        margin-left: 10%!important;
    }
    .profile_div{
        margin-left: -6%!important;
    }
    .background_profil_content{
        padding: 40px 85px 40px 85px!important;
    }
}

@media screen and (max-width: 992px) and (max-width: 1280px){
    .container{
        padding: 0px 0px 0px 0px !important; 
    }
}

@media screen and (max-width: 992px){
    .content_wrapper {
        padding: 0px 0px 0px 0px!important;
    }

    .header_media .img-responsive{
        margin-top: -90px !important;
    }

    .logo{
        width: 300px !important;
        height: 42px !important;
    }

    .home-p-style{
        width: 200px !important;
    }

    
}

@media screen and (max-width: 767px){
    .vc_column_inner {
        text-align: center;
    }
}

/*/////////////////////////////////////////////////////////////////*/
/*//////////////// FIN DU CSS DE TIO //////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/


/*/////////////////////////////////////////////////////////////////*/
/*//////////////// DEBUT DU CSS DE louis ////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 1100px) and (max-width: 1810px){
    .responsivBloc
    {
        float: none!important;
    }
    .sideds
    {
        display: none;
    }
}
@media screen and (min-width: 500px) and (max-width: 1100px){
    .sideds
    {
        display: none!important;
    }
    .mWSide .background_profil_contented
    {
        display: none!important;
    }
    .sided
    {
        display: none!important;
    }

    .first_name_head{
        display: none;
    }
    .head_picture {
        right: 235px !important;
    }
/*    .container
    {
        padding: 0px 12px 10px 10px!important;
    }*/
        .responsivBloc
    {
        float: none!important;
    }
}
@media screen and (min-width: 0px) and (max-width: 500px){
    .mH
    {
        min-height: inherit;
    }
/*    .container
    {
        padding: 0px 12px 10px 10px!important;
    }*/
    .sideds
    {
        display: none!important;
    }
    .sided
    {
        display: none!important;
    }
}
/*/////////////////////////////////////////////////////////////////*/
/*//////////////// FIN DU CSS DE louis //////////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/