/*/////////////////////////////////////////////////////////////////*/
/*//////////////////////// CSS RESPONSIVE /////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////*/
/*//////////////// DEBUT DU CSS DE TIO ////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 1px) and (max-width: 1880px){
    .responsivBlocs
    {
        float: none!important;
        display: block!important;
        min-width: 450px;
        min-height: 213px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1650px){
    .noms_profil{
        margin-left: 8%!important;
    }
}

/*/////////////////////////////////////////////////////////////////*/
/*//////////////// FIN DU CSS DE TIO //////////////////////////*/
/*/////////////////////////////////////////////////////////////////*/